<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>辨識結果</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
</head>
<body>
    <table border="1" WIDTH="300">
        <tr>
            <td colspan="7" align="center">
                <img src="/imgs/{{Name_id}}.jpg" alt="圖片" width="300" height="300">
            </td>
        </tr>
        <tr>
            <td>廠牌：{{mark}}</td>
        </tr>
        <tr>
            <td>品名：{{name}}</td>
        </tr>
        <tr>
            <td>分數：{{score}}</td>
        </tr>
        <tr>
            <td>效果：{{effect}}</td>
        </tr>
        <tr>
            <td>優點：{{Advantage}}</td>
        </tr>
        <tr>
            <td>缺點：{{Defect}}</td>
        </tr>
    </table>
    <br>
    <form method="POST" action="/push">
        <select name="pid">
            <option value="{{Name_id}}">商品編號:{{Name_id}}</option>
        </select>
        <input type="submit" value="推薦相似商品">
    </form>
    <br>
    <h1>請選擇年齡範圍和皮膚屬性</h1>
    <form method="POST" action="/range">
        <select name="pid">
            <option value="{{Name_id}}">商品編號:{{Name_id}}</option>
        </select>
        <select name="age">
            <option value="A20歲以下">20歲以下</option>
            <option value="B21-30歲">21-30歲</option>
            <option value="C31-45歲">31-45歲</option>
            <option value="D46歲以上">46歲以上</option>
        </select>
        <select name="skin">
            <option value="1乾性肌膚">乾性肌膚</option>
            <option value="2油性肌膚">油性肌膚</option>
            <option value="3敏感性肌膚">敏感性肌膚</option>
            <option value="4混合性肌膚">混合性肌膚</option>
        </select>
        <br>
        <br>
        <input type="submit" value="送出">
    </form>
</body>
</html>