<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>推薦相似商品</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
</head>
<body>
    <table border="1" WIDTH="300">
        <tr>
            <td colspan="7" align="center">
                <img src="/imgs/{{p1_id}}.jpg" alt="圖片" width="300" height="300">
            </td>
        </tr>
        <tr>
            <td>品名：{{p1_name}}</td>
        </tr>
        <tr>
            <td>分數：{{p1_score}}</td>
        </tr>
        <tr>
            <td>效果：{{p1_effect}}</td>
        </tr>
        <tr>
            <td>優點：{{p1_good}}</td>
        </tr>
        <tr>
            <td>缺點：{{p1_bad}}</td>
        </tr>
    </table>
    <table border="1" WIDTH="300">
        <tr>
            <td colspan="7" align="center">
                <img src="/imgs/{{p2_id}}.jpg" alt="圖片" width="300" height="300">
            </td>
        </tr>
        <tr>
            <td>品名：{{p2_name}}</td>
        </tr>
        <tr>
            <td>分數：{{p2_score}}</td>
        </tr>
        <tr>
            <td>效果：{{p2_effect}}</td>
        </tr>
        <tr>
            <td>優點：{{p2_good}}</td>
        </tr>
        <tr>
            <td>缺點：{{p2_bad}}</td>
        </tr>
    </table>
    <table border="1" WIDTH="300">
        <tr>
            <td colspan="7" align="center">
                <img src="/imgs/{{p3_id}}.jpg" alt="圖片" width="300" height="300">
            </td>
        </tr>
        <tr>
            <td>品名：{{p3_name}}</td>
        </tr>
        <tr>
            <td>分數：{{p3_score}}</td>
        </tr>
        <tr>
            <td>效果：{{p3_effect}}</td>
        </tr>
        <tr>
            <td>優點：{{p3_good}}</td>
        </tr>
        <tr>
            <td>缺點：{{p3_bad}}</td>
        </tr>
    </table>
</body>
</html>